{% extends "banuabla/base.html" %}{% load static %}
{% block title %}Aradığın sayfa yokmuş{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <section id="error" class="window" style="height: 100vh;">
        <div class="container">
            <div class="row" style="height: 50vh;">
                <div class="col l6 offset-l3 center-align">
                    <i class="fa fa-frown-o fa-5x" style="font-size: 256px"></i>
                    <h1>404</h1>
                    <h3>Aradığın sayfa yokmuş</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}