{% extends "banuabla/base.html" %}{% load static %}
{% block title %}Kullanım Koşulları ve Gizlilik Politikası - BanuAbla{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <section class="container window">
            <div class="row">
                <div class="col l10 offset-l1">
                    <h3>Kullanım Koşulları</h3>
                    <ol>
                        <li>Kullanım Koşulları banuabla.com(Bundan sonra "Banu Abla" olarak anılacaktır) internet sitesinin kullanım koşullarını içermektedir.</li>
                        <li>Banu Abla'nın hizmetinden yararlanan kişiler Kullanım Koşulları metnini okuduklarını, içeriğini anladıklarını ve tüm maddeleri kabul ettiklerini ve onayladıklarını peşinen kabul ederler.</li>
                        <li>Banu Abla, Kullanım Koşullarını tek taraflı olarak değiştirme hakkına sahiptir.</li>
                        <li>Banu Abla, kişilerin kişilik haklarına ve gizlilik haklarına saygı duyar. Maddelerde yazılı sebepler dışında ve yargı mercilerin istemi haricinde hiç bir şekilde kişisel bilgileri kurumlar ve kuruluşlarla paylaşmayacağını kabul eder.</li>
                        <li>Banu Abla hiçbir sebep beyan etmeden istediği kişilere yorum kredisini iade ederek hizmet vermeyi reddetme hakkına sahiptir.</li>
                        <li>Banu Abla, veritabanına yapılabilecek saldırılar sonucu kişilerin bilgilerinin kötü amaçlı kişilerin eline geçmesi ve kötü niyetli kullanılmasından doğabilecek sonuçlardan dolayı sorumlu tutulamaz.</li>
                        <li>Banu Abla'ya yazılanlardan yazan kişiler sorumludur. Banu Abla'ya edilecek hakaretler ve küfürler karşısında kanuni haklarını kullanma hakkını gizli tutar.</li>
                        <li>Banu Abla'nın yaptığı yorumlar fincan ve tabakta görünen simgelerin yorumlarıdır. Doğruluk içermez. Herhangi bir şekilde gelecekten haber veremez.</li>
                    </ol>

                    <h3>Gizlilik Politikası</h3>
                    <p>Sizden alınan bilgiler sadece hizmetimden sorunsuzca faydalanmanızı sağlamak amacı ile alınmış temel bilgilerdir.</p>
                    <p>Banu Abla olarak, size en iyi kahve falı hizmetini vermek için bir takım bilgilerinizi sizin onayınızla sisteme kaydederim. Bilgilerinizi hiçbir iş ortağı, şirket, kurum ya da diğer kuruluşlar ile paylaşmayacağım. Sizler ile olan yazışmaları diğer kullanıcılara açmam.</p>
                    <p>Kayıtlı kişisel bilgileriniz hiçbir şekilde satılmaz, kiralanmaz ya da başka bir kurum ya da kuruluş ile karşılıklı değiştirilmez. Bu 'Gizlilik Politikası' metninde yer alan maddeler haricinde hiçbir şekilde üçüncü şahıslarla paylaşılmaz.</p>
                    <p>Kişisel bilgilerinizi ancak Kullanım Koşullarında kabul ettiğiniz kurallar çerçevesinde yasal mercilere açabilirim.</p>
                    <p>Kişisel bilgiler genel kullanıma açık olmayan güvenli bir ortamda saklanır. Banu Abla, bilgilerinizi korumak için en güncel teknoloji standartlarını kullanmaktadır.</p>
                </div>
            </div>
    </section>

{% endblock %}